// nextflow.config

manifest {
    description = 'My Nextflow pipeline'
    author = 'Sergio'
    nextflowVersion = '>=21.04.0'
    manifest.defaultBranch = 'main'
    manifest.mainScript = 'main.nf'
}

profiles {
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
}
